* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    background: darkturquoise;
    font-family: 'Rubik', sans-serif;
    height: 100vh;
}

body > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2d3b55;
}

body > ul > li {
  float: left;
}

body > ul > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

body > ul > li a:hover {
    background-color: #111;
}

.active {
  background-color: black;
}
