.login-form-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background: white;
    width: min(500px, 40%);
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
    margin-bottom: 150px;
    margin-top: 20px;
}

.login-form h2 {
    padding: 35px 35px 0 35px;
    font-weight: 300;
    text-align: center;
}

.login-form .success {
    text-align: center;
    color: green;
    margin-top: 20px;
}

.login-form .content {
    padding: 0 35px 35px 35px;
    margin-top: 20px;
}

.login-form .input-field {
    padding: 12px 5px;
}

.login-form .input-field input,
.login-form .input-field textarea {
    font-size: 14px;
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.login-form .input-field input::-webkit-input-placeholder,
.login-form .input-field textarea::-webkit-input-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input::-moz-placeholder,
.login-form .input-field textarea::-moz-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input:-ms-input-placeholder,
.login-form .input-field textarea:-ms-input-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input::-ms-input-placeholder,
.login-form .input-field textarea::-ms-input-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input::placeholder,
.login-form .input-field textarea::placeholder {
    text-transform: uppercase;
}
.login-form .input-field input:focus,
.login-form .input-field textarea:focus {
    border-color: #222;
}

.login-form .action {
    display: flex;
}

.login-form .action button {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #2d3b55;
    color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    transition: all .3s;
}

.login-form .action button:hover {
    background: #3c4d6d;
}

@media only screen and (max-width: 800px) {
  .login-form {
    width: min(400px, 60%);
  }
}

@media only screen and (max-width: 600px) {
  .login-form {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media only screen and (max-height: 750px) {
  .login-form {
    margin-bottom: unset;
  }
}

@media only screen and (max-height: 550px) {
  .login-form-container {
    height: unset;
    margin-top: 20px;
  }
}
