.links-card-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.links-card {
    background: white;
    min-width: 1000px;
    width: 80%;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 150px;
    padding: 25px;
}

.links-card h2 {
    font-family: Georgia, serif;
    margin-bottom: 16px;
}

.links-card > div {
    margin-left: 8px;
    margin-bottom: 6px;
}

.actions button {
    padding: 0;
    border: 0;
    background: none;
    color: red;
}

@media only screen and (max-width: 1200px) {
    .links-card {
        min-width: 700px;
    }
}

@media only screen and (max-width: 800px) {
    .links-card {
        min-width: 500px;
        width: 60%;
    }
}

@media only screen and (max-width: 600px) {
    .links-card {
        min-width: unset;
        width: 100%;
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media only screen and (max-width: 400px) {
    .links-card {
        min-width: unset;
        width: 100%;
        margin: 0;
        padding: 20px 5px;
    }

    .links-card > div {
        margin-left: 0px;;
    }
}
