[Unit]
Description=Linkwaiter
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=your-username
ExecStart=/path/to/linkwaiter start

[Install]
WantedBy=multi-user.target
