<!DOCTYPE html>
<html>
    <head>
        <title>Linkwaiter - Create New Link</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
        <link rel='stylesheet' href='/css/base.css'>
        <link rel='stylesheet' href='/css/create.css'>
        <script src="/js/index.js"></script>
    </head>
    <body>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a class="active" href="/links/create">Create</a></li>
            <li><a href="#" onclick="return logout()">Logout</a></li>
        </ul>
        <div class="login-form-container">
            <form class="login-form" method="post" action="/links">
                <h2>Create New Link</h2>
                <%= if @success do %>
                  <div class="success">Link successfully added!</div>
                <% end %>
                <div class="content">
                    <div class="input-field">
                        <input type="text" name="category" list="categories" placeholder="Category" autocompletion="off"/>
                        <datalist id="categories">
                        <%= for category <- @categories do %>
                            <option><%= category %></option>
                        <% end %>
                        </datalist>
                    </div>
                    <div class="input-field">
                        <input type="url" name="link" placeholder="Paste Link Here">
                    </div>
                    <div class="input-field">
                        <textarea name="description" placeholder="Description" rows="4"></textarea>
                    </div>
                </div>
                <div class="action">
                    <button>Submit</button>
                </div>
            </form>
        </div>
    </body>
</html>
